/* Global styles */

* {
  margin:0pt;
  padding:0pt;
}
 
body {
  font-family:Tahoma,"Lucida Grande",Verdana,Sans-serif;
  font-size:76%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.6em;
}
 
a {
  text-decoration: none;
   color:#3875D7;
}
a:hover, a:active {
  color:#333333;
  text-decoration:underline;
}
 
a:link, a:visited {
  color:#3875D7;
}
 
img {
  border: 0;
}

/* Styles for main page */

#banner {
  background: #white;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #black;
  text-align: center;
}

#banner img {
  float: left;
	padding-left: 10px;
}

#columns {
  background: #red;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #red;
}

#side a {
  color: #white;
  font-size: small;
}

h1 {
  font:  175%;
  color: #0000;
  padding-bottom: 10px;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* =============== begin: pagination stuff ===============  */

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.pagination{
padding-top: 10px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 16px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: LightYellow;
}

.pagination li.currentpage{
font-weight: bold;
padding: 0 5px;
border: 1px solid navy;
background-color: #2e6ab1;
color: #FFF;
}

.pagination li.disablepage{
padding: 0 5px;
border: 1px solid #929292;
color: #929292;
}

.pagination li.nextpage{
font-weight: bold;
}

* html .pagination li.currentpage, * html .pagination li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
margin-right: 5px;
padding-right: 0;
}
/* =============== end: pagination stuff ===============  */

/* ================ begin: listing ================  */
 
.listing {
  border-collapse:  collapse;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 980px;
}
 
.listing th {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid
}
 
.listing td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-align:center;
}

.even {
  background-color: #EFEFEF;  
}

/* ================ end: admin-report ================  */