<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<%= render(:partial=>"shared/member", :object=>@member) %>
		<p>
			<br>
			<%= link_to 'Back', members_path %>
		</p>
	</body>
</html>
